        /*ADDED FONTS*/
        
        @font-face {
            font-family: 'Plex-Mono';
            src: url(../assets/fonts/IBMPlexMono-Regular.woff2);
        }
        
        @font-face {
            font-family: 'Poppins-Bold';
            src: url(../assets/fonts/Poppins-Bold.woff2);
        }
        
        @font-face {
            font-family: 'Poppins-SemiBold';
            src: url(../assets/fonts/Poppins-SemiBold.woff2);
        }
        
        @font-face {
            font-family: 'Poppins-Medium';
            src: url(../assets/fonts/Poppins-Medium.woff2);
        }
        
        @font-face {
            font-family: 'Poppins-Regular';
            src: url(../assets/fonts/Poppins-Regular.woff2);
        }
        /*BASIC ELEMENTS STYLE*/
        
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }
        
        html,
        body {
            height: 100%;
            font-family: 'Poppins-Medium';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #010201;
            scroll-behavior: smooth;
        }
        
        a {
            text-decoration: none;
        }
        
        li {
            list-style: none;
        }
        
         :root {
            --links_color: #DCDAE7ff;
        }

        /*FOOTER BOTTOMING + LIMITING CONTAINER*/
        
        .wrapper {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            min-height: 100%;
        }
        
        ._container {
            max-width: 1512px;
            margin: 0 auto;
        }
        
        .stars {
            background: url(../assets/img/jpg/stars_bg.jpg);
        }
        /*HEADER*/
        
        .header__container {
            display: flex;
            justify-content: space-between;
        }
        
        .header__logo__img {
            margin: 1.12em 0 0 1.56em;
        }
        
        .header__links {
            min-width: 33em;
            margin: 1.5em 0 0 0;
        }
        
        .header__list {
            display: flex;
            align-items: flex-end;
        }
        
        .header__item {
            margin-right: 1.5em;
            img {
                margin-right: 0.7em;
            }
        }
        
        .header__item:nth-last-child(1) {
            margin-right: 0;
        }
        
        .header__link {
            color: #DCDAE7;
        }
        
        .header__link:visited {
            color: var(--links_color);
        }
        
        .header__link:hover {
            color: gray;
        }
        
        .header__buttons {
            margin: 1em 0 0 0;
        }
        
        .button__login {
            padding-right: 0.7em;
            background: transparent;
            color: var(--links_color);
            transition: .5s;
        }
        
        .button__login:hover {
            cursor: pointer;
            color: gray;
            transition: .5s;
        }
        
        .button__start {
            margin-right: 1.5em;
            padding: 9px 22px;
            width: 130px;
            height: 41px;
            color: var(--links_color);
            background-color: #7A4DF3;
            border-radius: 30px;
            font-size: 15px;
            line-height: 22px;
            transition: .5s;
        }
        
        .button__start:hover {
            cursor: pointer;
            background-color: var(--links_color);
            color: #010201;
            transition: .5s;
        }
        /*MAIN TITLE + QUICK START SECTION*/
        
        .main__title {
            margin: .8em auto .8em auto;
            max-width: 54rem;
            font-family: 'Poppins-Bold';
            font-size: 4.37rem;
            line-height: 6.56rem;
            color: #E7E7E7;
            text-shadow: 7px 20px 15px rgba(0, 0, 0, 0.2), -7px 14px 15px rgba(0, 0, 0, 0.15);
        }
        
        .title__purple {
            display: flex;
            justify-content: center;
            background: linear-gradient(270deg, #DC6794 -28.49%, #9747FF 83.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        
        .quick__start__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto 2.5em auto;
            padding: .8em 1.5em;
            max-width: 29em;
            color: #E7E7E7;
            font-family: 'Plex-Mono';
            font-size: 1.25rem;
            line-height: 1.3em;
            background: rgba(34, 34, 34, 0.05);
            border: 2.5px solid #7A4DF3;
            box-shadow: 0px 1px 37px rgba(151, 71, 255, 0.7);
            backdrop-filter: blur(2.5px);
            border-radius: 10px;
            img {
                cursor: pointer;
                transition: .1s;
            }
            img:hover {
                filter: invert(50%);
                transition: .1s;
            }
        }
        
        .quick__start__button {
            display: flex;
            justify-content: center;
            margin: 0 0 1.5em 0;
        }
        
        .quick__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 1.1em 0 0;
            padding: 1.56em;
            width: 9.62em;
            height: 3.18em;
            cursor: pointer;
            background: #7A4DF3;
            color: #FEFEFE;
            border-radius: 30px;
            transition: .5s;
        }
        
        .quick__button:hover {
            background-color: var(--links_color);
            color: #010201;
            transition: .5s;
        }
        
        .quick__button__subtitle {
            display: flex;
            align-items: center;
            font-family: 'Poppins-Regular';
            font-size: 1.25rem;
            line-height: 1.3em;
            color: #DCDAE7;
        }
        
        .quick__start__output {
            display: flex;
            margin: 0 auto;
            padding: 1.25em;
            max-width: 51em;
            min-height: 29.5em;
            background: #242337;
            border: 2.5px solid #7A4DF3;
            border-radius: 5px;
        }
        
        .output__text {
            font-family: 'Plex-Mono';
            font-size: 1.25rem;
            line-height: 1.3em;
            color: #E7E7E7;
            span {
                color: #F21212;
            }
        }
        
        .goodbye {
            background: #232234;
            background-image: url(../assets/img/png/vector.png);
            background-position: 65% 5%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        
        .goodbye__title {
            max-width: 19em;
            margin: 2.55em auto 1.77em auto;
            text-align: center;
            font-family: 'Poppins-Bold';
            font-size: 2.25rem;
            line-height: 1.3em;
            background: linear-gradient(270deg, #9747FF 26.96%, #FCFCFC 93.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        
        .goodbye__ruleblock {
            position: relative;
            display: flex;
            align-items: center;
            padding: 2.3em;
            gap: .62em;
            margin: 0 auto;
            max-width: 48.8em;
            min-height: 13.2em;
            background: rgba(0, 0, 0, 0.15);
            border: 2.5px solid rgba(83, 58, 185, 0.5);
            backdrop-filter: blur(2.5px);
            border-radius: 30px;
            img {
                margin-left: .62em;
            }
        }
        
        .imgline {
            padding-top: .62em;
            position: relative;
            cursor: pointer;
        }
        
        .imgline:after {
            content: "";
            display: block;
            position: absolute;
            left: .62em;
            width: 0;
            top: 6.4em;
            height: 5px;
            background-color: #7A4DF3;
            border-radius: 10px;
            transition: .5s;
        }
        
        .imgline:hover:after,
        .imgline:active:after {
            margin: 0 auto;
            width: 4em;
        }
        
        .ruleblock__firstange {
            position: absolute;
            right: 5.75em;
            top: 2.18em;
            border: 1px solid #7A4DF3;
            width: 20em;
            height: 13.75em;
            z-index: 1;
            background: #1E1D30;
            box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
            border-radius: 5px;
        }
        
        .ruleblock__rectange {
            position: absolute;
            top: 4.87em;
            right: 3.5em;
            margin-bottom: 5.31em;
            display: flex;
            flex-direction: column;
            padding: 2.06em 1.5em;
            gap: .62em;
            width: 21.25em;
            background: #242337;
            border: 5px solid #7A4DF3;
            box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
            border-radius: 5px;
            z-index: 3;
        }
        
        .rectangle__title {
            font-family: 'Plex-Mono';
            font-size: 1.12rem;
            line-height: 1.27em;
            color: #9B9B9B;
        }
        
        .rectangle__subtitle {
            font-family: 'Plex-Mono';
            font-size: 1.12rem;
            line-height: 1.27em;
            color: #E7E7E7;
            span {
                color: #CD7BFF;
            }
        }

        
        .goodbye__vline {
            display: flex;
            justify-content: center;
        }
        
        .goodbye__exlint {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 20em;
            height: 3.75em;
        }
        
        .exlint__text {
            display: flex;
            align-items: center;
            margin-right: .47em;
            padding: .8em 3.6em;
            font-family: 'Plex-Mono';
            color: #FEFEFE;
            font-size: 1.31rem;
            line-height: 1.28em;
            background: #202428;
            border: 2.5px solid #DC6794;
            box-shadow: 0px -2px 28px rgba(151, 71, 255, 0.3);
            border-radius: 5px;
        }
        
        .goodbye__hvline {
            display: flex;
            justify-content: space-around;
            margin-right: 20em;
        }
        
        .goodbye__shells {
            display: flex;
            justify-content: center;
        }
        
        .shell__input {
            width: 33.75em;
            height: 22.62em;
            background: #242337;
            border: 2.5px solid #7A4DF3;
            box-shadow: 0px 0px 13px rgba(151, 71, 255, 0.5);
            border-radius: 5px;
        }
        
        .shell_input__text {
            font-family: 'Plex-Mono';
            font-size: 1.12rem;
            line-height: 1.2em;
            color: #FF5B5B;
            padding: .7em 0 0 1.1em;
            gap: 1.1em;
        }
        
        .input__codenum {
            margin: 0 .55em 0 .83em;
            font-family: 'Plex-Mono';
            font-size: 1.12rem;
            line-height: 1.3em;
            color: #9B9B9B;
        }
        
        .codeprop {
            margin-left: 2.35em;
            color: #8C98FF;
        }
        
        .shell__line {
            align-self: center;
        }
        
        .input__decimal {
            margin: 0 .7em 0 .31em;
            color: #9B9B9B;
        }
        
        .input__classname__color {
            color: #FFF500;
        }
        
        .input__valuecolor {
            color: #E7E7E7;
        }
        
        .input__hexcolor {
            color: #FF0000;
        }
        
        .shell__output {
            align-self: center;
            width: 33.75em;
            height: 18.31em;
            background: #242337;
            border: 2.5px solid #7A4DF3;
            box-shadow: 0px 0px 13px rgba(151, 71, 255, 0.5);
            border-radius: 5px;
        }
        
        .shell__output__text {
            max-width: 27em;
            font-family: 'Plex-Mono';
            font-size: 1.12rem;
            line-height: 1.27em;
            color: #FF5B5B;
        }
        
        .output__stylelint {
            display: inline-block;
            margin: .83em 0 0 .83em;
        }
        
        .output__css {
            display: inline-block;
            margin: 1.38em 0 0 .83em;
            color: #E7E7E7;
        }
        
        .output__line {
            display: inline-block;
            margin: 0 1.71em 0 1.38em;
            color: #9B9B9B;
        }
        
        .output__log {
            display: inline-block;
            margin: 0 .55em 0 .83em;
            color: #E7E7E7;
        }
        
        .output__named {
            display: inline-block;
            margin: 0 1.66em 0 .83em;
            color: #9B9B9B;
        }
        
        .output__problem {
            display: inline-block;
            margin: 1.33em 0 0 .83em;
            color: #E7E7E7;
        }

        /*CONVENTIONS SECTION*/

        .conventions {
            background: #232234;
        }

        .conventions__title {
            margin-top: 185px;
            font-family: 'Poppins-Bold';
            font-size: 45px;
            line-height: 59px;
            text-align: center;
            background: linear-gradient(270deg, #9747FF 26.96%, #FCFCFC 93.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .conventions__subtitle {
            margin: 24px 0 0 0;
            font-family: 'Poppins-SemiBold';
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #E7E7E7;
        }

        .conventions__inout {
            display: flex;
            justify-content: space-evenly;
            margin: 62px 113px 95px 75px;
        }

        .conventions__output {
            padding: 12px;
            width: 590px;
            padding: 12px;
            background: #242337;
            border: 2.5px solid #7A4DF3;
            box-shadow: -4px 22px 56px rgba(151, 71, 255, 0.5);
            border-radius: 5px;
        }

        .conventions__advantages {
            display: flex;
            flex-direction: column;
            width: 487px;
        }

        .output__styleconv {
            display: inline-block;
            font-family: 'Plex-Mono';
            font-style: normal;
            font-size: 15px;
            line-height: 20px;
            color: #FF5B5B;
        }

        .output__cssconv {
            display: inline-block;
            width: 100%;
            margin: 16px 0 0 0;
            font-family: 'Plex-Mono';
            font-size: 15px;
            line-height: 20px;
            color: #E7E7E7;
        }

        .output__lineconv {
            display: inline-block;
            margin: 0 26px 0 10px;
            font-family: 'Plex-Mono';
            font-size: 15px;
            line-height: 20px;
            color: #9B9B9B;
        }

        .output__logconv {
            display: inline-block;
            font-family: 'Plex-Mono';
            margin: 0 0 0 16px;
            font-size: 15px;
            line-height: 20px;
            color: #E7E7E7;
        }

        .output__problemconv {
            display: inline-block;
            font-family: 'Plex-Mono';
            margin: 6px 0 0 0;
            font-size: 15px;
            line-height: 20px;
            color: #E7E7E7;
        }

        .greycross {
            color: #9B9B9B;
        }

        .output__stylelintconv {
            display: inline-block;
            font-family: 'Plex-Mono';
            margin: 6px 0 0 0;
            font-size: 15px;
            line-height: 20px;
            color: #FF5B5B;
        }

        .stylelint__path {
            display: inline-block;
            font-family: 'Plex-Mono';
            margin: 18px 0 0 0;
            font-size: 15px;
            line-height: 20px;
            color: #E7E7E7;
        }

        .output__namedconv {
            display: inline-block;
            margin: 0 26px 0 10px;
            font-family: 'Plex-Mono';
            font-size: 15px;
            line-height: 20px;
            color: #9B9B9B;
        }

        .errorconv {
            margin: 0 10px 0 18px;
        }

        .hexconv {
            margin: 0 10px 0 0;
        }

        .convline {
            margin: 0 0 0 0;
        }

        .output__stylelintconv {
            display: inline-block;
            width: 100%;
            margin: 5px 0 0 0;
            font-family: 'Plex-Mono';
            font-size: 15px;
            line-height: 20px;
            color: #FF5B5B;
        }

        .advantages__staff {
            margin: 34px 0 0 34px;
            font-family: 'Poppins-SemiBold';
            font-size: 24px;
            line-height: 31px;
            background: linear-gradient(270deg, #AE72FF 46.97%, #F2F2F2 93.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

        }

        .advantages__title {
            margin: 18px 0;
            padding: 0 0 0 18px;
            text-align: center;
            font-family: 'Poppins-Regular';
            font-size: 28px;
            line-height: 37px;
            color: #E7E7E7;
        }

        .advantages__list {
            margin: 0 0 0 67px;
            min-width: 487px;
            font-family: 'Poppins-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #BBB8CA;
        }

        .advantages__item {
            list-style-type: disc;
            margin: 0 auto;
        }

        .conventions__developers {
            display: flex;
            justify-content: space-around;
            position: relative;
        }

        .developers__title {
            margin: 0 0 17px 131px;
            font-family: 'Poppins-SemiBold';
            font-size: 24px;
            line-height: 31px;
            background: linear-gradient(270deg, #9747FF 26.96%, #FCFCFC 93.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .developers__subtitle {
            margin: 0 0 17px 131px;
            max-width: 493px;
            font-family: 'Poppins-Bold';
            font-size: 28px;
            line-height: 37px;
            color: #E7E7E7;
        }

        .developers__list {
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 26px;
            color: #BBB8CA;
        }

        .developers__item {
            margin: 0 0 0 162px;
            list-style-type: disc;
        }

        .policies__exlint {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 18px;
            position: absolute;
            bottom: 280px;
            right: 150px;
            z-index: 2;
            width: 311px;
            height: 61px;
            font-family: 'Plex-Mono';
            font-size: 21px;
            line-height: 27px;
            color: #FEFEFE;
            background: #202428;
            border: 2.5px solid #DC6794;
            box-shadow: 0px 6px 71px rgba(151, 71, 255, 0.5);
            border-radius: 5px;
        }

        .policies__img {
            margin: 0 148px 0 0;

        }

        .empower {
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: #232234;
            background-image: url(../assets/img/png/spectra.png);
        }

        .empower__blurblock {
            display: flex;
            justify-content: space-between;
            margin: 285px auto;
            padding: 0 85px;
            max-width: 1035px;
            background: linear-gradient(242.44deg, rgba(174, 125, 253, 0.2) -30.7%, rgba(36, 35, 55, 0.2) 36.93%, rgba(36, 35, 55, 0.2) 62.82%, rgba(122, 77, 243, 0.2) 129.61%);
            border: 2.5px solid #7A4DF3;
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }

        .info__title {
            margin: 55px 0 10px 0;
            max-width: 510px;
            font-family: 'Poppins-SemiBold';
            font-size: 32px;
            line-height: 42px;
            color: #E7E7E7;
        }

        .info__subtitle {
            display: flex;
            align-items: center;
            margin: 0 0 40px 0;
            width: 542px;
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 26px;
            color: #E7E7E7;
        }

        .info__list {
            display: flex;
            margin: 0 0 45px 0;
        }

        .info__link {
            display: inline-block;
            margin: 0 34px 0 0;
            padding: 0 0 0 4px;
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 26px;
            color: #E7E7E7;
        }

        .info__link:hover {
            color: gray;
        }
        
        .last {
            margin: 0;
        }

        .links__item {
            img {
                padding: 5px 0 0 0;
            }
        }

        .info__started {
            font-family: 'Poppins-SemiBold';
            font-size: 24px;
            line-height: 31px;
            color: #E7E7E7;
        }

        .info__horline {
            margin: 0 0 50px 0;
            width: 532px;
            border: 1px solid #BBB8CA;
        }

        .info__input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
            gap: 10px;
            width: 640px;
            height: 60px;
            background: rgba(14, 13, 20, 0.7);
            border: 1px solid #4B4A65;
            border-radius: 10px;

            img {
                padding: 0 28px 0 0;
                cursor: pointer;
                transition: .1s;
            }

            img:hover {
                filter: invert(50%);
                transition: .1s;
            }
        }

        .info__text {
            padding: 0 0 0 25px;
            font-family: 'Plex-Mono';
            font-size: 20px;
            line-height: 26px;
            color: #E7E7E7;
        }

        .info__docslink {
            display: inline-block;
            margin: 0 0 71px 0;
            font-family: 'Poppins-Regular';
            font-size: 20px;
            line-height: 26px;
            color: #BBB8CA;
        }

        .info__docslink:hover {
            border-bottom: 1px solid #BBB8CA;
            transition: .5s;
        }

        .empower__logo {
            margin: 70px 0 0 0;
        }