<header class="header">
    <div class="header__container container">
        <div class="header__logo">
            <img src="../../images/logo.webp" alt="logo">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__list-item">
                    <a href="#" class="header__item-link">О нас</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__item-link">Услуги</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__item-link">Специалисты</a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__item-link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__phone-wrapper">
            <p class="header__phone-desc">
                Есть номер! Звоните
            </p>
            <a href="tel:+74957977735" class="header__phone-number">
                +7 495 797 77 35
            </a>
        </div>
        <button class="header__button" type="button">Заказать звонок</button>
    </div>
</header>