/* VARIABLES & FONTS */
@font-face {
  font-family: "Raleway-Medium";
  src: url(../assets/fonts/Raleway-Medium.woff2);
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(../assets/fonts/Raleway-Bold.woff2);
}
/* COMMON STYLES */
._container {
  margin: 0 auto;
  max-width: 1130px;
}

.header {
  background-color: #E1EDE6;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 10px;
}

.header__link {
  font-family: "Raleway-Bold";
  font-size: 20px;
  color: #598D66;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.nav__item {
  margin-right: 60px;
}
.nav__item:last-child {
  margin-right: 2px;
}

.nav__item-link {
  font-size: 20px;
  color: #2C2D35;
}
.nav__item-link:hover {
  color: #598D66;
}

.nav__item-button {
  width: 22px;
  height: 22px;
  border: none;
  background-image: url(/assets/svg/cart.svg);
  background-position: center center;
  background-color: transparent;
}
.nav__item-button:hover {
  background-image: url(/assets/svg/cart_hover.svg);
  cursor: pointer;
}

.production__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.production__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.production__title {
  font-family: "Raleway-Medium";
  font-size: 60px;
  color: #2C2D35;
  font-weight: 500;
  line-height: 110%;
}

.production__title-span {
  color: #598D66;
}

.production__button {
  display: block;
  width: 225px;
  height: 65px;
  padding: 20px 60px;
  gap: 6px;
  color: #598D66;
  background-color: transparent;
  border: 1px solid #598D66;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.production__button:hover {
  cursor: pointer;
  color: #F4F6F5;
  background-color: #598D66;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}