/* VARIABLES & FONTS */
@font-face {
  font-family: "Circle";
  src: url(../assets/fonts/Circe-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Plumb";
  src: url(../assets/fonts/Plumb-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Plumb";
  src: url(../assets/fonts/Plumb-Bold.woff2);
  font-weight: 700;
}
/* COMMON STYLES */
.link_active:hover {
  color: #FFC41E;
}

.bottom_line:hover {
  text-decoration: underline;
}

.h2_title {
  font-family: "Plumb";
  font-size: 1.87em;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.3px;
}

.h3_title {
  font-family: "Plumb";
  font-size: 1.31rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.21px;
}

._container {
  margin: 0 auto;
  max-width: 69.4rem;
}

/* HEADER */
#menu__toggle {
  opacity: 0;
  position: absolute;
}

.header {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  margin: 2.05em 0 0 1.87em;
}

.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.header__nav-menu > * {
  margin: 1.25em 2.93em 1.25em 0;
}
.header__nav-menu > *:last-child {
  margin-right: 0;
}

.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 12.5em;
}

.header__options-search {
  position: relative;
  margin: 0 4em 0 0;
  width: 20px;
  height: 18px;
  background: url(../assets/png/search.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  border: 0;
}

.header__options-language {
  position: relative;
  left: 12px;
  width: 5em;
  height: 2em;
  background: url(../assets/png/globe.png) no-repeat;
  cursor: pointer;
  color: white;
  border: 0;
}
.header__options-language:hover {
  color: #FFC41E;
}

/* MAIN */
.bg__img {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  min-height: 50em;
  background: url(../assets/jpg/bg.jpg) center center no-repeat;
}

/* GRID SECTION */
.expo {
  position: relative;
}

.expo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 44.31em;
}

.expo__invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8.75em 0 0 0;
}

.expo__invite-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.expo__invite-title {
  font-family: "Plumb";
  font-size: 4rem;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.expo__invite-desc {
  margin: 0.3em 0 0 0.3em;
  max-width: 25em;
  font-size: 1.5rem;
  line-height: 140%;
}

.expo__invite-about {
  width: 8.12em;
}

.expo__about-wrapper {
  position: relative;
  margin: 1.68em 0 0 0.31em;
  line-height: 135%;
}
.expo__about-wrapper::after {
  content: url(../assets/png/arrow.png);
  position: relative;
  left: 15px;
}

.expo__grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 3.31em 0;
}

.grid__container-item {
  margin: 0 0 0 1.87em;
  max-width: 255px;
  max-height: 10.93em;
}

.grid__container-title {
  margin: 1.42em 4.2em 0.7em 2.4em;
  width: 80%;
}

.grid__container-link {
  display: contents;
}

.grid__container-wrapper {
  display: inline-block;
  margin: 0 0 1.87em 3.12em;
}

.grid__container-wrapper::after {
  content: url(../assets/png/arrow.png);
  position: relative;
  left: 4px;
}

.blue,
.breeze {
  margin: 0 0 1.87em 1.87em;
}

.blue,
.expolinks {
  background-color: #2378FC;
}

.breeze {
  background-color: #30BCC9;
}

.yellow {
  background-color: #FFC41E;
}

.red {
  background-color: #F6404F;
}

/* LINKS SECTION */
.expolinks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.12em 0 0 0;
}

.expolinks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0 0 4em 0;
}

.expolinks__item-title {
  margin: 0.83em 0 0.5em 0;
}

.expolinks__list-item {
  padding: 0 0 0.93em 0;
}

.explolinks__item-link {
  line-height: 135%;
}

/* EVENTS SECTION */
.events {
  background-color: #FFC41E;
}

.events__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.events__header > * {
  color: #2E373B;
}

.events__header-title {
  margin: 2.5em 0 1.83em 0.3em;
}

.events__header-subtitle {
  margin: 4em 0 2.61em 0;
}
.events__header-subtitle::after {
  content: url(../assets/png/b_arrow.png);
  position: relative;
  left: 5px;
}

.events__grids {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding-bottom: 5em;
  -webkit-column-gap: 1.87em;
     -moz-column-gap: 1.87em;
          column-gap: 1.87em;
  row-gap: 1.25em;
}

.grid__item-date {
  display: inline-block;
  margin: 1.07em 0 0 0.71em;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 135%;
  color: #2E373B;
}

.grid__item-title {
  margin: 0.47em 0 0 0.47em;
  color: #F6404F;
}

.grid__item-subtitle {
  display: inline-block;
  margin: 0.62em 0 0 0.62em;
  line-height: 135%;
  color: #2E373B;
}

/* NEWS SECTION */
.news {
  background-color: #FAF3E3;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40.56em;
}

.news__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__imgs > img {
  display: block;
  margin-left: 0.31em;
  max-width: 27.81em;
}
.news__imgs > img:first-child {
  margin-top: 4.68em;
}
.news__imgs > img:last-child {
  margin-top: 3.68em;
}

.news__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.news__texts-link {
  display: block;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 7.81em;
}

.news__texts-title {
  margin: 2.57em 0 1em 0;
  color: #2E373B;
}

.news__texts-link {
  display: inline-block;
  margin: 3.85em 0 0 0;
  height: 1.04em;
  color: #2E373B;
}
.news__texts-link::after {
  content: url(../assets/png/b_arrow.png);
  position: relative;
  left: 8px;
}

.news__items-item img {
  float: left;
  display: block;
  max-width: 10em;
}
.news__items-item img:first-child {
  margin-bottom: 1.87em;
}

.news__items-title {
  display: inline-block;
  margin: 0.87em 0 0 1.87em;
  max-width: 17.89em;
}

.news__items-link {
  display: block;
  color: #2E373B;
}

.news__items-date {
  display: inline-block;
  margin: 0.5em 0 0 2.18em;
  padding: 0.62em 0 0 0;
  color: #F6404F;
}

/* FOOTER SECTION */
.footer {
  background-color: #30BCC9;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 0 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 2.5em;
  min-height: 29.75em;
}

.footer__container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer__container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer__container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.footer__container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.footer__container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.footer__container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.footer__container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.footer__item-title {
  margin: 0 0 0.95em 0;
}

.footer__item-link {
  margin: 0.71em 2.14em 0 0;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 135%;
}
.footer__item-link:last-child {
  margin-right: 0;
}
.footer__item-link img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__item-link img:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subscribe__subtitle {
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 135%;
}

.footer__list {
  max-height: 11.25em;
  margin: 3.87em 0 0 0.31em;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 0.71em;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social {
  margin: 3.87em 0 0 1.12em;
}

.footer__social-container,
.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second_row {
  margin-top: 0.93em;
}

.subscribe__container-input {
  width: 215px;
  height: 40px;
}
.subscribe__container-input::-webkit-input-placeholder {
  padding-left: 1.66em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 135%;
}
.subscribe__container-input::-moz-placeholder {
  padding-left: 1.66em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 135%;
}
.subscribe__container-input:-ms-input-placeholder {
  padding-left: 1.66em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 135%;
}
.subscribe__container-input::-ms-input-placeholder {
  padding-left: 1.66em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 135%;
}
.subscribe__container-input::placeholder {
  padding-left: 1.66em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 135%;
}

.subscribe__container-button {
  width: 40px;
  height: 45px;
  background: url(../assets/svg/subscribe.svg) no-repeat;
  background-color: #F6404F;
  border: none;
  background-position: center;
}