        /*ADDED FONTS*/

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: 'Inter-bold';
    src: url(/assets/fonts/Inter-Bold.woff);
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-Regular.woff);
}

        /*BASIC ELEMENTS STYLE*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #010201;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

        /*FOOTER BOTTOMING + LIMITING CONTAINER*/

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}

        /*HEADER, MENU*/

.header__container {
    display: flex;
    margin: 0.75em auto 0px auto;
    justify-content: space-between;
    max-width: 67.5em;
    max-height: 4.3em;
    background-color: #FAFAFA;
}

.menu__list {
    display: flex;
    margin: 1.37em 0 1.43em 0;
}

.menu__link {
    margin: 0 0 0 2.4em;
    font-size: 0.87rem;
    line-height: 1.5rem;
    color: #0A0A0A;
    transition: 0.2s;
}

.menu__link:nth-last-child() {
    margin-right: 0;
}

.menu__link:hover {
    color: gray;
    transition: 0.2s;
}

.signup__btn {
    margin: 0.75em 1.4em 1.75em 0;
    width: 7.25rem;
    height: 2.8rem;
    background-color: #0A0A0A;
    border-radius: 32px;
    color: #FAF9F7;
    font-size: 0.75rem;
    line-height: 0.87rem;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.signup__btn:hover {
    background-color: gray;
    border: 1px solid #0A0A0A;
    transition: 0.3s;
}

        /*SCALE SECTION*/

.scale__img__container {
    display: flex;
}

.scale__coffee__img {
    margin: 8.6em 3rem 6.3em 11em;
}

.scale__talking__img {
    margin: 4.8em 0 0 0;
}

.scale__title {
    margin: 0 auto 0.4em auto;
    padding: 0 0.12em 0 0;
    text-align: center;
    font-family: 'Roboto';
    font-size: 9rem;
    font-weight: normal;
    line-height: 10rem;
    color: #0A0A0A;
}

.scale__subtitle {
    margin: 0 0 2.5em 3.3em;
    max-width: 25em;
    font-size: 1.12rem;
    line-height: 1.5em;
    color: #0A0A0A;
}

.scale__btn {
    margin: 0 0 11.5em 5em;
    width: 14.8em;
    height: 3.7em;
    background-color: #C6F572;
    border-radius: 40px;
    color: #0A0A0A;
    font-size: 0.75rem;
    line-height: 0.8rem;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.scale__btn:hover {
    color: #FAF9F7;
    background-color: gray;
    border: 1px solid #0A0A0A;
    transition: 0.3s;
}

        /*GROWING SECTION*/

.growing {
    background-color: #0A0A0A;
}

.growing__title {
    margin-top: 0 auto;
    padding: 3.9em 0 1.1em 0;
    text-align: center;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 1.87rem;
    line-height: 2.5rem;
    color: #FAF9F7;
}

.growing__author {
    margin: 0 auto;
    padding-bottom: 8.63em;
    text-align: center;
    font-size: 0.68rem;
    line-height: 1rem;
    color: #504F4F;
}

        /*ANSWERS SECTION*/

.answers__container {
    display: flex;
    max-height: 50em;
}

.comment__img {
    display: flex;
    margin: 15.62em 3.75em;
    height: 12.5em;
}

.answers__slack {
    display: flex;
    flex-direction: column;
}

.answers__title {
    margin: 3.43em 1.47em 1.87em 1.25em;
    max-width: 349px;
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: normal;
    line-height: 3rem;
    color: #0A0A0A;
}

.answers__subtitle {
    margin: 0 5.76em 0 3.52em;
    padding: 0 0 0 0;
    max-width: 322px;
    font-size: 1.06rem;
    line-height: 1.68rem;
    color: #0A0A0A;
}

.answers__remark {
    position: relative;
    z-index: 1;
    top: 4em;
    max-width: 29em;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #504F4F;
}

.answers__img {
    position: relative;
    max-height: 31.87em;
    margin: 0 0 0 3.75em;
    z-index: 0;
}

.answers__img img {
    position: relative;
    bottom: 1em;
    z-index: 0;
}

        /*PRICING SECTION*/

.pricing {
    position: relative;
    z-index: 10;
    background-color: #FBF19B;
}

.pricing__title {
    padding: 4.05em 0 0.75em 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 3.56rem;
    line-height: 4rem;
    text-align: center;
}

.pricing__subtitle {
    margin: 0 auto;
    padding-bottom: 15.87em;
    max-width: 29.87em;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0A0A0A;
}

        /*TIERS SECTION*/

.tiers {
    background-color: #D4F2F9;
}

.tiers__title {
    padding: 5.3em 0 1em 0;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 1.87rem;
    line-height: 2.25rem;
    text-align: center;
    color: #0A0A0A;
}

.tiers__author {
    padding-bottom: 8.9em;
    font-size: 0.68rem;
    line-height: 1rem;
    text-align: center;
    color: #504F4F;
}

        /*GRIDS SECTION*/

.grids {
    height: 70.5rem;
    background-color: #0A0A0A;
}

.grids__title__container {
    display: flex;
}

.grids__title {
    margin: 3.18em 0 2.81em 2em;
    max-width: 15.11em;
    font-family: 'Roboto';
    font-weight: normal;
    color: #FAF9F7;
    font-size: 3.75rem;
    line-height: 4rem;
}

.grids__title__img {
    margin: 13.56em 7.5em 0 0;
}

.grids__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grids__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-basis: 19em;
    margin-right: 0.75em;
    max-height: 30em;
    border-radius: 12px;
}

.grids__item:last-child {
    margin-right: 0;
}

.grids__item__num {
    font-size: 0.81rem;
    line-height: 0.87rem;
    color: #0A0A0A;
}
.grids__item__title {
    max-width: 5em;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2rem;
}

.grids__item__subtitle {
    padding: 0 0 0 1.78em;
    max-width: 17em;
    font-size: 0.87rem;
    line-height: 1.37rem;
}

.first__item {
    background: #F4D2DC;
}

.first__item .grids__item__num {
    padding: 24.8em 0 1.6em 2em;
}

.first__item .grids__item__title {
    padding: 0 0 1.1em 1em;
}

.second__item {
    background: #FBF19B;
}

.second__item .grids__item__num {
    padding: 26.38em 0 1.7em 2.4em;
}

.second__item .grids__item__title {
    padding: 0 0 1.1em 1.1em;
}

.third__item {
    background: #DBFAA8;
}

.third__item .grids__item__num {
    padding: 24.69em 0 1.7em 2.5em;
}

.third__item .grids__item__title {
    padding: 0 0 1.1em 1.2em;
}

.third__item .grids__item__subtitle {
    padding: 0 0 0 2.4em;
}


        /*QUESTIONS SECTION*/

.questions {
    max-height: 74.25em;
    background-color: #0A0A0A;
}
.questions__container {
    position: relative;
    z-index: 1;
    background-color: #0A0A0A;
    border-radius: 24px;
}

.questions__form__img {
    display: flex;
    justify-content: right;
    margin: 0 6.43em 0 0;
    position: relative;
    z-index: 2;
}

.questions__form__img img {
width: 21.87em;
border-radius: 12px;
}

.questions__form__container {
    position: relative;
    z-index: 3;
    bottom: 13.75em;
    max-width: 52.5em;
    min-height: 53.25em;
    background-color: #FBF19B;
    border-radius: 24px;
}

.questions__title {
    padding: 1.89em 0 0.58em 2em;
    max-width: 7.1em;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.31rem;
}

.questions__subtitle {
    padding: 0 0 5em 6em;
    max-width: 27.12em;
    font-size: 1rem;
    line-height: 1.5rem;
}

.questions__input {
    margin: 0 0 2.81em 6em;
    background-color: #FBF19B;
    border: 2px solid black;
    transition: 0.7s;
}

.questions__input:focus {
    background-color: #DBFAA8;
    transition: 0.7s;
}

#questions__checkbox {
    margin: 0 0 1.87em 4.37em;
    width: 1.25em;
    background-color: #FBF19B;
    zoom: 1.3;
}

.questions__label {
    padding: 0 0 0 0.6em;
    font-size: 0.87rem;
    line-height: 0.87rem;
}

.questions__button {
    margin: 0 0 0 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.71em;
    height: 3.5em;
    background-color: #0A0A0A;
    color: #FAFAFA;
    font-family: 'Inter';
    font-size: 0.75rem;
    line-height: 0.87rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
}

.questions__button:hover {
    background-color: gray;
    border: 1px solid #0A0A0A;
    transition: 0.3s;
}

        /*FOOTER*/

.footer {
    position: relative;
    z-index: 2;
    background-color: #DBFAA8;
}

.footer__social {
    display: flex;
    justify-content: flex-end;
    padding: 6.37em 1.5em 0.62em 0;
}

.footer__social__linkedin {
    margin: 0 0.75em 0 0;
}

.footer__bottomline {
    margin: 0 auto;
    max-width: 72em;
    border-bottom: 1px solid black;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    padding: 0.75em 0 2.33em 2em;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #0A0A0A;
}

.footer__link {
    font-size: 0.75rem;
    line-height: 1.12rem;
    color: #0A0A0A;
}

.footer__links {
    display: flex;
}

.footer__link {
    transition: 0.2s;
}

.footer__link:hover {
    color: gray;
    transition: 0.2s;
}

.footer__item {
    margin: 0.5em 1em 0 0;
}

.footer__item:last-child {
    margin-right: 1.75em;
}