@media screen and (min-device-width: 511px) and (max-device-width: 768px) {
body {
  font-size: .75rem;
}

.header__container {
  justify-content: space-around;
}
._container {
  max-width: 768px;
}

.header__logo {
}

.header__link {
}

.header__nav {
}

.nav__menu {
}

.nav__list {
  margin-left: 40px;
}

.nav__item {
}

.nav__item-link {
  font-size: 18px;
}

.nav__item-button {
}

.main {
}

.production {
}

.production__container {
  justify-content: center;
  flex-wrap: wrap;
}

.production__img {
  margin: 0 28px 0 0;

    img {
      max-width: 330px;
    }
}

.production__info {
  padding: 0;
}

.production__title {
  font-size: 40px;
  font-weight: normal;
}

.production__title-span {
}

.production__subtitle {
  padding: 0;
  max-width: 330px;
}

.production__button {
  margin: 20px 0 0 0;
  padding: 20px 50px;
  width: 210px;
  height: 60px;
  font-size: 20px;
}

.reproduction {

}

.reproduction__container {
}

.reproduction__title {
  margin: 45px 0 0 30px;
  font-size: 30px;
}

.reproduction__buttons {
  margin: 10px 30px 0 0;
}

.reproduction_button {
}

.france-button {
}

.germany-button {
}

.england-button {
}

.reproduction__grid {
  margin: 14px 10px 0 10px;
  gap: 30px 0;
}

.reproduction__grid-item {
  max-width: 330px;
}

.reproduction__grid-img {
    img {
      width: 290px;
      height: 422px;
    }
}

.reproduction__grid-author {
}

.reproduction__grid-title {
}

.reproduction__grid-desc {
}

.reproduction__grid-price {
}

.reproduction__grid-button {
  width: 290px;
}

.collection {
  margin: 70px auto;
  background-image: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(13,44,67,0.20211834733893552) 95%), url(../assets/jpg/collection.jpg);
  background-size: cover;

}
.collection__container {

}
.collection__title-wrapper {
}
.collection__img {
    img {
      margin: 0 0 0 30px;
      width: 60px;

    }
}
.collection__title {
  padding: 2.3em 0 0 .7em;
  font-size: 30px;

}
.collection__desc {
  margin-top: 24px;
  padding: 0 2em;
  max-width: 100%;
  font-size: 18px;
}
.collection__button {
  margin: 30px 0 70px 40px;
  width: 210px;
  height: 60px;
}
.team {
}
.team__container {
  flex-wrap: wrap;
}

.team__frame {
  margin: 0 0 0 40px;
  width: 510px;
  height: 504px;
  background: url(../assets/png/frame_tablet.png) no-repeat;
}
.team__desc {
}
.team__desc-title {
  margin: 0 0 0 18px;
  font-size: 30px;
}
.team__desc-subtitle {
  margin: 30px 0 0 20px;
  font-size: 18px;
  min-width: 690px;
  word-spacing: 0;
}
.team__desk-img {
  margin: 30px 0 70px 20px;
}
.footer {
}
.footer__container {
}
.footer__logo {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
}
.footer__logo-link {
  margin: 0 0 0 37px;
}
.footer__logo-tel {
  margin: 23px 40px 0 0;
  padding: 0;
}
.footer__logo-subtitle {
}
.footer__links {
  margin: 4px 0 0 40px;
}
.footer__links-list {
}
.footer__list-item {
}
.footer__item-title {
}
.footer__list-link {
}
.footer__social {
  margin: 10px 77px 0 0;
  padding: 0;
}
.social__links {
}
.social__link-item {
}
.social__link-svg {
}
.social__copy {
}
.social__right {
}

}