@media screen and (min-device-width: 511px) and (max-device-width: 768px) {
body {
  font-size: .75rem;
}

.header__container {
  justify-content: space-around;
}
._container {
  max-width: 768px;
}

.nav__list {
  margin-left: 2.5em;
}

.nav__item-link {
  font-size: 1.1rem;
}

.production__container {
  justify-content: center;
  flex-wrap: wrap;
}

.production__img {
  margin: 0 1.75em 0 0;

    img {
      max-width: 330px;
    }
}

.production__info {
  padding: 0;
}

.production__title {
  font-size: 2.5rem;
  font-weight: normal;
}

.production__subtitle {
  padding: 0;
  max-width: 330px;
}

.production__button {
  margin: 1em 0 0 0;
  padding: 1em 2.5em;
  font-size: 1.25rem;
  width: 210px;
  height: 60px;
}

.reproduction__title {
  margin: 1.5em 0 0 1em;
  font-size: 1.9rem;
}

.reproduction__buttons {
  margin: 1em 2em 0 0;
}

.reproduction__grid {
  margin: .7em 1em 0 1em;
  gap: 2em 0;
}

.reproduction__grid-item {
  max-width: 330px;
}

.reproduction__grid-img {
    img {
      width: 290px;
      height: 422px;
    }
}

.reproduction__grid-button {
  width: 290px;
}

.collection {
  margin: 4em auto;
  background-image: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(13,44,67,0.20211834733893552) 95%), url(../assets/jpg/collection.jpg);
  background-size: cover;
}

.collection__img {
    img {
      margin: 0 0 0 1.8em;
      width: 60px;

    }
}
.collection__title {
  padding: 2.3em 0 0 .7em;
  font-size: 1.9rem;

}
.collection__desc {
  margin-top: 1.5em;
  padding: 0 2em;
  max-width: 100%;
  font-size: 1.15rem;
}
.collection__button {
  margin: 1em 0 3.75em 2em;
  width: 210px;
  height: 60px;
}

.team__container {
  flex-wrap: wrap;
}

.team__frame {
  margin: 0 0 0 2.5em;
  width: 510px;
  height: 504px;
  background: url(../assets/png/frame_tablet.png) no-repeat;
}

.team__desc-title {
  margin: 0 0 0 .7em;
  font-size: 1.85rem;
}
.team__desc-subtitle {
  margin: 1.75em 0 0 1em;
  font-size: 1.15rem;
  min-width: 690px;
  word-spacing: -2px;
}
.team__desk-img {
  margin: 1.75em 0 4.3em 1.25em;
}

.footer__logo {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 100%;
}
.footer__logo-link {
  margin: 0 0 0 1.8em;
}
.footer__logo-tel {
  margin: 1.25em 2em 0 0;
  padding: 0;
}

.footer__links {
  margin: .25em 0 2em 2.5em;
}

.footer__social {
  margin: .5em 5em 0 0;
  padding: 0;
}

  }