   /* VARIABLES & FONTS */

$light-green: #E1EDE6;
$green: #598D66;
$dark-green: #376B44;
$light-black: #2C2D35;
$light-grey: #F4F6F5;
$grey: #86928B;

@font-face {
   font-family: 'Raleway-Medium'; 
   src: url(../assets/fonts/Raleway-Medium.woff2);
}

@font-face {
   font-family: 'Raleway-Bold'; 
   src: url(../assets/fonts/Raleway-Bold.woff2);
}

   /* COMMON STYLES */

._container {
   margin: 0 auto;
   max-width: 1130px;
 }

.header {
   background-color: $light-green;
}

.header__container {
   display: flex;
   justify-content: space-between;
   padding: 22px 10px;
}

.header__link {
   font-family: 'Raleway-Bold';
   font-size: 20px;
   color: $green;
}

.header__nav {
}

.nav__menu {
}

.nav__list {
   display: flex;
   padding-left: 0;
}

.nav__item {
   margin-right: 60px;

   &:last-child {
      margin-right: 2px;
   }
}
.nav__item-link {
   font-size: 20px;
   color: $light-black;

   &:hover {
      color: $green;
   }

   &:active {
      color: $dark-green;
   }
}

.nav__item-button {
   width: 22px;
   height: 22px;
   border: none;
   background-image: url(/assets/svg/cart.svg);
   background-position: center center;
   background-color: transparent;

   &:hover {
      background-image: url(/assets/svg/cart_hover.svg);
      cursor: pointer;
   }

   &:active {
      background-image: url(/assets/svg/cart_active.svg);
   }
}

.production__container {
   display: flex;
   padding: 0 10px;
}

.production__img {
}

.production__info {
   display: flex;
   flex-direction: column;
   padding: 102px 0;
   padding-left: 26px;
}

.production__title {
   margin-bottom: 0;
   padding-bottom: 5px;
   font-family: 'Raleway-Medium';
   font-size: 60px;
   color: $light-black;
   font-weight: 500;
   line-height: 110%; 
}

.production__title-span {
   color: $green;
}

.production__subtitle {
   padding-bottom: 40px;
   font-family: 'Raleway-Medium';
   font-size: 18px;
   line-height: 150%; /* 27px */
   color: $grey;
}

.production__button {
display: block;
width: 225px;
height: 65px;
padding: 20px 60px;
margin: 0 0 0 5px;
gap: 6px;
color: $green;
font-size: 20px;
background-color: transparent;
border: 1px solid $green;
transition: .2s;

   &:hover {
      cursor: pointer;
      color: $light-grey;
      background-color: $green;
      transition: .2s;
   }

   &:active {
      background-color: $dark-green;
   }
}



.reproduction {
}

.section__container {
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
}

.reproduction__title {
   color: $light-black;
   font-size: 40px;
   font-style: normal;
   font-weight: 500;
   line-height: 110%; /* 44px */
}

.reproduction__buttons {
   display: flex;
   align-items: flex-end;
}
.reproduction_button-france {
}
.reproduction_button-germany {
}
.reproduction_button-england {
}