   /* VARIABLES & FONTS */

$light-green: #E1EDE6;
$green: #598D66;
$dark-green: #376B44;
$light-black: #2C2D35;
$light-grey: #F4F6F5;
$grey: #86928B;
$yellow: #EEDB6D;
$light-yellow: #FAEB97;
$dark-yellow: #D9B949;

@font-face {
   font-family: 'Raleway-Medium'; 
   src: url(../assets/fonts/Raleway-Medium.woff2);
}

@font-face {
   font-family: 'Raleway-Bold'; 
   src: url(../assets/fonts/Raleway-Bold.woff2);
}

   /* COMMON STYLES */

._container {
   margin: 0 auto;
   max-width: 1130px;
 }

 button:hover {
   cursor: pointer;
 }

   /* HEADER */

.header {
   background-color: $light-green;
}

.header__container {
   display: flex;
   justify-content: space-between;
   padding: 1.37em .62em;
}

.header__link {
   font-family: 'Raleway-Bold';
   font-size: 1.25rem;
   color: $green;
}

.nav__list {
   display: flex;
   padding-left: 0;
}

.nav__item {
   margin-right: 3.75em;

   &:last-child {
      margin-right: 0;
   }
}
.nav__item-link {
   font-size: 1.25rem;
   color: $light-black;

   &:hover {
      color: $green;
   }

   &:active {
      color: $dark-green;
   }
}

.nav__item-button {
   width: 22px;
   height: 22px;
   border: none;
   background-image: url(../assets/svg/cart.svg);
   background-position: center center;
   background-color: transparent;

   &:hover {
      background-image: url(../assets/svg/cart_hover.svg);
   }

   &:active {
      background-image: url(../assets/svg/cart_active.svg);
   }
}

   /* PRODUCTION SECTION */

.production__container {
   display: flex;
   padding: 0 .62em;
}

.production__img {
      img {
         max-width: 50vw;
      }
}

.production__info {
   display: flex;
   flex-direction: column;
   padding: 6.37em 0 6.37em 1.62em;
}

.production__title {
   margin-bottom: 0;
   padding-bottom: .1em;
   font-size: 3.75rem;
   color: $light-black;
   line-height: 110%; 
}

.production__title-span {
   color: $green;
}

.production__subtitle {
   padding-bottom: 2.22em;
   font-family: 'Raleway-Medium';
   font-size: 1.12rem;
   line-height: 150%; /* 27px */
   color: $grey;
}

.production__button {
display: block;
width: 225px;
height: 65px;
padding: 1em 3em;
margin: 0 0 0 .25em;
gap: .3em;
color: $green;
font-size: 1.25rem;
background-color: transparent;
border: 1px solid $green;
transition: .2s;

   &:hover {
      color: $light-grey;
      background-color: $green;
      transition: .2s;
   }

   &:active {
      background-color: $dark-green;
   }
}

   /* REPRODUCTION SECTION */

.reproduction__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 0 .62em;
}

.reproduction__title {
   margin-bottom: 0;
   padding: .75em 0;
   color: $light-black;
   font-size: 2.5rem;
   font-weight: 500;
   line-height: 110%; /* 44px */
}

.reproduction__buttons {
   display: flex;
   align-items: center;
}

.reproduction__button {
   display: flex;
   margin: 2em 1.5em 0 0px;
   padding: .5em 1em;
   align-items: flex-start;
   border: none;
   border-radius: 20px;
   background: #D4E8D9;
   color: $light-black;
   font-size: 1.25rem;
   transition: .2s;

   &:last-child {
      margin-right: 0;
   }

   &:hover {
      background-color: $dark-green;
      color: $light-grey;
      transition: .2s;
   }
}

.reproduction__grid {
   display: flex;
   flex-wrap: wrap;
   justify-content:space-around;
   gap: 1.87em;
   margin-bottom: 4.37em;
}

.reproduction__grid-item {
   padding: 1.25em 1em 1.87em 1em;
   background-color: $light-green;
}

.reproduction__grid-author {
   margin-bottom: 0;
   color: $grey;
   font-size: 1.12rem;
}

.reproduction__grid-title {
   margin: .26em  0;
   color: $light-black;
   font-size: 1.87rem;
   font-weight: 500;
}

.reproduction__grid-desc {
   margin: 0 0 .44em 0;
   color: $light-black;
   font-size: 1.12rem;
}

.reproduction__grid-price {
   margin-top: 1.2em;
   color: $green;
   font-size: 1.5rem;
}

.reproduction__grid-button {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   width: 310px;
   height: 65px;
   padding: 1em 3em;
   gap: .3em;
   background-color: transparent;
   color: $green;
   border: 1px solid $green;
   font-size: 1.25rem;
   transition: .2s;

   &:hover {
      background-color: $green;
      color: $light-grey;
      transition: .2s;
   }

   &:active {
      background-color: $dark-green;
   }
}

   /* COLLECTION SECTION */

.collection {
   background-image: linear-gradient(114deg, rgba(2,0,36,1) 0%, rgba(13,44,67,0.09) 80%), url(../assets/jpg/collection.jpg);
   background-size: cover;
   background-position: center;

}

.collection__container {
   display: flex;
   flex-direction: column;
}

.collection__title-wrapper {
   display: flex;
}

.collection__img {
   padding: 4.25em 0 0 .62em;
}

.collection__title {
   margin: 0;
   padding: 1.7em 0 0 .5em;
   max-width: 50%;
   color: $light-grey;
   font-size: 2.5rem;
   font-weight: 500;
   line-height: 100%; /* 40px */
}

.collection__desc {
   margin-bottom: 0;
   padding: 0 .55em;
   max-width: 580px;
   color: #FFF;
   font-size: 1.12rem;
   line-height: 150%; /* 27px */
   word-spacing: -1px;
}

.collection__button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 3.2em .5em 3.5em .5em;
   padding: 1em 3em;
   gap: .3em;
   width: 257px;
   height: 65px;
   background-color: $yellow;
   color: $light-black;
   font-size: 1.25rem;
   border: none;

   &:hover {
      background-color: $light-yellow;
   }

   &:active {
      background-color: $dark-yellow;
   }
}

   /* TEAM SECTION */

.team__container {
   display: flex;
}

.team__frame {
   margin: 4.37em .5em;
   width: 100%;
   height: 440px;
   min-width: 25vw;
   background: url(../assets/png/frame.png) no-repeat;
   background-size: contain;
}

.team__desc {
   display: flex;
   flex-direction: column;
   justify-content: center;

   padding: 2.5em 0 0 1.25em;
   max-width: 670px;
}

.team__desc-title {
   margin: 1em 0 0 .12em;
   color: $light-black;
   font-size: 2.5rem;
   font-weight: 500;
   line-height: 110%; /* 44px */
}

.team__desc-subtitle {
   color: $light-black;
   font-size: 1.12rem;
   line-height: 150%; /* 27px */
   word-spacing: -1px;
}

.team__desk-img {
   display: flex;
   margin-left: .31em;

   img {
      margin-right: 1.87em;

      &:last-child {
         margin-right: 0;
      }
   }
}

.footer {
   background-color: $light-green;
}

.footer__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer__logo {
   display: flex;
   flex-direction: column;

   img {
      margin-right: .5em;
      max-width: 2.2em;
   }
}

.footer__logo-link {
   display: flex;
   align-items: center;
   margin: 1.15em 0 1.75em .5em;
   font-family: 'Raleway-Bold';
   font-size: 1.25rem;
   color: $green;
}

.footer__logo-tel {
   display: flex;
   flex-direction: column;
   padding: 0 0 .5em .5em;
   color: $light-black;
   font-size: 1.25rem;
   line-height: normal;
   transition: .2s;

   &:hover {
      color: $green;
      transition: .2s;
   }

   &:active {
      color: $dark-green;
   }
}

.footer__logo-subtitle {
   margin-bottom: 23px;
   padding: 5px 0 0 0;
   color: $grey;
   font-size: .9em;
   line-height: normal;
}

.footer__links {
   display: flex;
   margin: 1em 8em 0 0;
}

.footer__links-list {
   margin: 0 3.75em 0 0;
   padding: 0;

   &:last-child {
      margin-right: 0;
   }
}

.footer__list-item {
   padding: 0 0 .2em 0;

   &:last-child {
      padding-bottom: 0;
   }
}

.footer__item-title {
   margin: .3em 0;
   color: $light-black;
   font-size: 1.25rem;
   font-weight: 500;
}

.footer__list-link {
   color: $grey;
   font-size: 1.12rem;
   font-weight: 500;
   line-height: 150%; /* 27px */

   &:hover {
      color: $green;
   }

   &:active {
      color: $dark-green;
   }
}

.footer__social {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding: 1.43em .62em;
}

.social__links {
   display: flex;
}

.social__link-item {
   width: 24px;
   height: 24px;
   margin-right: 1.87em;

   &:last-child {
      margin-right: 0;
   }
}

.social__link-svg {
   fill: $light-black;
   transition: .2s;

   &:hover {
      fill: $green;
      transition: .2s;
   }

   &:active {
      fill: $dark-green;
   }
}

.social__copy,
.social__right {
   display: flex;
   margin: .75em 0 0 0;
   color: $grey;
   font-size: .75rem;
   line-height: 120%; /* 14.4px */
   width: 100%;
}