/*ADDED FONTS*/
@font-face {
  font-family: "Plex-Mono";
  src: url(../assets/fonts/IBMPlexMono-Regular.woff2);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins-Bold.woff2);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../assets/fonts/Poppins-SemiBold.woff2);
}
@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/Poppins-Medium.woff2);
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins-Regular.woff2);
}
/*BASIC ELEMENTS STYLE*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  font-family: "Poppins-Medium";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #010201;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --links_color: #DCDAE7ff;
}

/*FOOTER BOTTOMING + LIMITING CONTAINER*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1512px;
  margin: 0 auto;
}

.stars {
  background: url(../assets/img/jpg/stars_bg.jpg);
}

/*HEADER*/
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo__img {
  margin: 1.12em 0 0 1.56em;
}

.header__links {
  min-width: 33em;
  margin: 1.5em 0 0 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__item {
  margin-right: 1.5em;
}
.header__item img {
  margin-right: 0.7em;
}

.header__item:nth-last-child(1) {
  margin-right: 0;
}

.header__link {
  color: #DCDAE7;
}

.header__link:visited {
  color: var(--links_color);
}

.header__link:hover {
  color: gray;
}

.header__buttons {
  margin: 1em 0 0 0;
}

.button__login {
  padding-right: 0.7em;
  background: transparent;
  color: var(--links_color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__login:hover {
  cursor: pointer;
  color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__start {
  margin-right: 1.5em;
  padding: 9px 22px;
  width: 130px;
  height: 41px;
  color: var(--links_color);
  background-color: #7A4DF3;
  border-radius: 30px;
  font-size: 15px;
  line-height: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button__start:hover {
  cursor: pointer;
  background-color: var(--links_color);
  color: #010201;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*MAIN TITLE + QUICK START SECTION*/
.main__title {
  margin: 0.8em auto 0.8em auto;
  max-width: 54rem;
  font-family: "Poppins-Bold";
  font-size: 4.37rem;
  line-height: 6.56rem;
  color: #E7E7E7;
  text-shadow: 7px 20px 15px rgba(0, 0, 0, 0.2), -7px 14px 15px rgba(0, 0, 0, 0.15);
}

.title__purple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(-28.49%, #DC6794), color-stop(83.02%, #9747FF));
  background: linear-gradient(270deg, #DC6794 -28.49%, #9747FF 83.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.quick__start__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 2.5em auto;
  padding: 0.8em 1.5em;
  max-width: 29em;
  color: #E7E7E7;
  font-family: "Plex-Mono";
  font-size: 1.25rem;
  line-height: 1.3em;
  background: rgba(34, 34, 34, 0.05);
  border: 2.5px solid #7A4DF3;
  -webkit-box-shadow: 0px 1px 37px rgba(151, 71, 255, 0.7);
          box-shadow: 0px 1px 37px rgba(151, 71, 255, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 10px;
}
.quick__start__input img {
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.quick__start__input img:hover {
  -webkit-filter: invert(50%);
          filter: invert(50%);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.quick__start__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 1.5em 0;
}

.quick__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.1em 0 0;
  padding: 1.56em;
  width: 9.62em;
  height: 3.18em;
  cursor: pointer;
  background: #7A4DF3;
  color: #FEFEFE;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quick__button:hover {
  background-color: var(--links_color);
  color: #010201;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quick__button__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins-Regular";
  font-size: 1.25rem;
  line-height: 1.3em;
  color: #DCDAE7;
}

.quick__start__output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 1.25em;
  max-width: 51em;
  min-height: 29.5em;
  background: #242337;
  border: 2.5px solid #7A4DF3;
  border-radius: 5px;
}

.output__text {
  font-family: "Plex-Mono";
  font-size: 1.25rem;
  line-height: 1.3em;
  color: #E7E7E7;
}
.output__text span {
  color: #F21212;
}

.goodbye {
  background: #232234;
  background-image: url(../assets/img/png/vector.png);
  background-position: 50% 10%;
  background-repeat: no-repeat;
}

.goodbye__title {
  max-width: 19em;
  margin: 2.55em auto 1.77em auto;
  text-align: center;
  font-family: "Poppins-Bold";
  font-size: 2.25rem;
  line-height: 1.3em;
  background: -webkit-gradient(linear, right top, left top, color-stop(26.96%, #9747FF), color-stop(93.64%, #FCFCFC));
  background: linear-gradient(270deg, #9747FF 26.96%, #FCFCFC 93.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.goodbye__ruleblock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.3em;
  gap: 0.62em;
  margin: 0 auto;
  max-width: 48.8em;
  min-height: 13.2em;
  background: rgba(0, 0, 0, 0.15);
  border: 2.5px solid rgba(83, 58, 185, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 30px;
}
.goodbye__ruleblock img {
  margin-left: 0.62em;
}

.imgline {
  padding-top: 0.62em;
  position: relative;
  cursor: pointer;
}

.imgline:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.62em;
  width: 0;
  top: 6.4em;
  height: 5px;
  background-color: #7A4DF3;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imgline:hover:after,
.imgline:active:after {
  margin: 0 auto;
  width: 4em;
}

.ruleblock__firstange {
  position: absolute;
  right: 5.75em;
  top: 2.18em;
  border: 1px solid #7A4DF3;
  width: 20em;
  height: 13.75em;
  z-index: 1;
  background: #1E1D30;
  -webkit-box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
          box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
  border-radius: 5px;
}

.ruleblock__rectange {
  position: absolute;
  top: 4.87em;
  right: 3.5em;
  margin-bottom: 5.31em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.06em 1.5em;
  gap: 0.62em;
  width: 21.25em;
  background: #242337;
  border: 5px solid #7A4DF3;
  -webkit-box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
          box-shadow: 0px 1px 11px rgba(122, 77, 243, 0.8);
  border-radius: 5px;
  z-index: 3;
}

.rectangle__title {
  font-family: "Plex-Mono";
  font-size: 1.12rem;
  line-height: 1.27em;
  color: #9B9B9B;
}

.rectangle__subtitle {
  font-family: "Plex-Mono";
  font-size: 1.12rem;
  line-height: 1.27em;
  color: #E7E7E7;
}
.rectangle__subtitle span {
  color: #CD7BFF;
}

.goodbye__vline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.goodbye__exlint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 20em;
  height: 3.75em;
}

.exlint__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.47em;
  padding: 0.8em 3.6em;
  font-family: "Plex-Mono";
  color: #FEFEFE;
  font-size: 1.31rem;
  line-height: 1.28em;
  background: #202428;
  border: 2.5px solid #DC6794;
  -webkit-box-shadow: 0px -2px 28px rgba(151, 71, 255, 0.3);
          box-shadow: 0px -2px 28px rgba(151, 71, 255, 0.3);
  border-radius: 5px;
}

.goodbye__hvline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 20em;
}

.goodbye__shells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shell__input {
  width: 33.75em;
  height: 22.62em;
  background: #242337;
  border: 2.5px solid #7A4DF3;
  -webkit-box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
          box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
  border-radius: 5px;
}

.shell_input__text {
  font-family: "Plex-Mono";
  font-size: 1.12rem;
  line-height: 1.2em;
  color: #FF5B5B;
  padding: 0.7em 0 0 1.1em;
  gap: 1.1em;
}

.input__codenum {
  margin: 0 0.55em 0 0.83em;
  font-family: "Plex-Mono";
  font-size: 1.12rem;
  line-height: 1.3em;
  color: #9B9B9B;
}

.codeprop {
  margin-left: 2.35em;
  color: #8C98FF;
}

.shell__line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.input__decimal {
  margin: 0 0.7em 0 0.31em;
  color: #9B9B9B;
}

.input__classname__color {
  color: #FFF500;
}

.input__valuecolor {
  color: #E7E7E7;
}

.input__hexcolor {
  color: #FF0000;
}

.shell__output {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 33.75em;
  height: 18.31em;
  background: #242337;
  border: 2.5px solid #7A4DF3;
  -webkit-box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
          box-shadow: 0px 0px 43px rgba(151, 71, 255, 0.5);
  border-radius: 5px;
}

.shell__output__text {
  max-width: 27em;
  font-family: "Plex-Mono";
  font-size: 1.12rem;
  line-height: 1.27em;
  color: #FF5B5B;
}

.output__stylelint {
  display: inline-block;
  margin: 0.83em 0 0 0.83em;
}

.output__css {
  display: inline-block;
  margin: 1.38em 0 0 0.83em;
  color: #E7E7E7;
}

.output__line {
  display: inline-block;
  margin: 0 1.71em 0 1.38em;
  color: #9B9B9B;
}

.output__log {
  display: inline-block;
  margin: 0 0.55em 0 0.83em;
  color: #E7E7E7;
}

.output__named {
  display: inline-block;
  margin: 0 1.66em 0 0.83em;
  color: #9B9B9B;
}

.output__problem {
  display: inline-block;
  margin: 1.33em 0 0 0.83em;
  color: #E7E7E7;
}